<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-rich-text.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .rich-text-by-trellis.rich-text-by-trellis-overlay:after{
    content: " ";
    background-color: {{ section.settings.bkg_overlay_color }};
    opacity:  {{ section.settings.overlay_opacity }};
  }
{%- endstyle -%}

{% assign bkgImage = "" %}
{% if section.settings.bkg_img != blank %}
  {% assign bkgImage = section.settings.bkg_img | image_url: width: 2560 %}
{% endif %}  

<div class="isolate{% unless section.settings.full_width %} page-width{% endunless %}">
  <div class="rich-text rich-text-by-trellis content-container {% if section.settings.show_overlay %}rich-text-by-trellis-overlay{% endif %}{% if section.settings.full_width %} rich-text--full-width content-container--full-width{% endif %} section-{{ section.id }}-padding twcss-bg-center twcss-bg-no-repeat {% if section.settings.bkg_size == 'cover' %}twcss-bg-cover{% else %}twcss-bg-contain{% endif %}" style="background-color: {{ section.settings.bkg_color }};{% if bkgImage != blank %}background-image:url('{{ bkgImage }}'){% endif %}">
    <div class="rich-text__blocks">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            <h2 class="{{ block.settings.heading_size }}" {{ block.shopify_attributes }} style="color: {{ block.settings.color }}">{{ block.settings.heading | escape }}</h2>
          {%- when 'text' -%}
            <div class="rich-text__text rte" {{ block.shopify_attributes }} style="color: {{ block.settings.color }}">{{ block.settings.text }}</div>
          {%- when 'button' -%}
            <a{% if block.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link }}"{% endif %} class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}" {{ block.shopify_attributes }}>
              {{ block.settings.button_label | escape }}
            </a>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "RichText by Trellis",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "color",
      "id": "bkg_color",
      "default": "#FFFFFF",
      "label": "Background Color"
    },
    {
      "type": "header",
      "content": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "bkg_img",
      "label": "Background Image"
    },
    {
      "type": "select",
      "id": "bkg_size",
      "options": [
        {
          "value": "cover",
          "label": "Cover"
        },
        {
          "value": "contain",
          "label": "Contain"
        }
      ],
      "default": "cover",
      "label": "Background Size"
    },
    {
      "type": "checkbox",
      "id": "show_overlay",
      "default": false,
      "label": "Display Overlay"
    },
    {
      "type": "color",
      "id": "bkg_overlay_color",
      "default": "#000000",
      "label": "Background Overlay Color"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0.1,
      "max": 0.9,
      "step": 0.1,
      "label": "Opacity",
      "default": 0.1
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.rich-text.settings.full_width.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 300,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 300,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.rich-text.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Talk about your brand",
          "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "color",
          "id": "color",
          "default": "#000000",
          "label": "Heading Color"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.rich-text.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
          "label": "t:sections.rich-text.blocks.text.settings.text.label"
        },
        {
          "type": "color",
          "id": "color",
          "default": "#000000",
          "label": "Text Color"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.rich-text.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.rich-text.blocks.button.settings.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.rich-text.blocks.button.settings.button_link.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "t:sections.rich-text.blocks.button.settings.button_style_secondary.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "RichText by Trellis",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
